/*reset*/

* {
	/* margin: 0; */
	padding: 0;
	border: 0;
	text-decoration: none;

}

/*header*/
body {
	font-family: 'Roboto', sans-serif;

}
a {
	color: #44B4FF;
	cursor: pointer;

}
.navitems::after {
	display: block;
	content: ' ';
	width: 60px;
	height: 1px;
	background:black;
	margin: auto;
}

.banner {
	position: relative;
	text-align: center;

}
.banner img {
	width: 100%;
	height: 300px;

}
.txt {
	color: white;
	background-color: rgba(0,0,0,0.5);
	font-weight: bold;
	width: 100%;
	position: absolute;
	padding: 2em s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.txt small {
	color: white;
	font-weight: 400;
}
/*navigation*/

nav
{
	height: auto;
}

.menu {
	display: flex;
    justify-content: space-around;
	align-items: center;

}

.menu li {
	display: inline-flex;

}

.menu a {
	font-size: 1.2em;

}
nav li a:hover {
	color:#44B4FF;
}

form {
	margin: 5px;
}

.menu {
	text-align: left;
	padding-left : 15px;
}

.fa-user-circle {
	font-size: 2em;
}

.active{
	color: #232C31;
}

.links{
	width:100px;
	padding-right: 20px;
}

/*body*/
/*searchbar */

.search-bar {
	margin : 0 auto;
	width : 90%;
}

.search-button{
	margin-top: 10px;
	background: #44B4FF;
	border: none;
}

.input{
	margin : 0 auto;
	margin-top: 10px;
	padding-left: 5px;
}

/*profile side */

.apiandprofile{
	display : flex;
	flex-direction: column;
}

.api{
	width: 95%;
	margin: auto;
	height: 450px;
	margin-top : 20px;
	margin-bottom: 20px;
}
.profile-side{
	width: 100%;
	margin :  auto;
	margin-bottom: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.profile-pic{
	border-radius: 100%;
	padding : 5px;
}
/* Profile Random */
.profil-colors0 {
	background-color: #000000;
}
.profil-colors1 {
	background-color: #191919;

}
.profil-colors2 {
	background-color: #323031;

}
.profil-colors3 {
	background-color: #13142B;

}
.profil-colors4 {
	background-color: #1A2E51;

}
.profile{
	width : 100%;
	text-align : center;
	line-height: 3px;
	margin: 5px;
	margin-top: 10px;
	display: flex;
	border-radius: 2.5px;
	box-shadow: 6px 6px 6px #DCDCDC;
	flex-direction: row;
	width : 250px;
}
.profile p {
	color: white;
}
.round{
	max-width : 120px;
	max-height: 120px;
	margin: 15px 0 0 5px;
}
.modal {
		display: none;
		position: fixed;
		z-index: 1;
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		overflow: auto;
		background-color: rgba(0,0,0,0.5);
	}
.modal-content{
		background-color: white;
		margin: 30% auto;
		padding:20px;
		width: 70%;
		box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
		animation-name: modalopen;
		animation-duration: 0.4s;
	}
.name {

	margin : 0 auto;
	margin-top: 30px;
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

/*footer*/
footer {
	background-color: rgb(35, 44, 49);
	width: calc(100% + 2.0rem);
	height: 80px;
    display: flex;
    justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

footer p {
	color: white;
	text-align: center;

}

@media screen and (max-width: 550px) {
	.api{
		display: none;
	}
	.profile-side{
		margin: auto;
		width: 100%;
	}
	.profile{
		width: 100%;
	}
	.profile-pic{
		border-radius: 100%;

	}

}
