
* {
	/* margin: 0; */
	/* padding: 0; */s
	border: 0;
	text-decoration: none;

}

/*header*/
a {
	color: white;
	cursor: pointer;

}/*navigation*/

a.navitems {
	text-align: center;
}
header nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	margin-top: 20px;
}
nav ul {
	/* justify-content: space-around; */

}
.menu li {
	display: inline-flex;
	flex-direction: row;

}

.menu a {
	font-size: 1.2em;

}
nav li a:hover {
	color:#44B4FF;
}
body{
	background-color: black;
}
.slide {
	background-size: cover;

	/* padding-top: 5.5%;
	padding-bottom: 5.5%; */
}
#botton{
	position: absolute;

	padding-top: 850px;
	padding-left: 47%;
}

.test2 {
}
