/*reset*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	color: black; 
}

/*header*/
body {
	font-family: 'Roboto', sans-serif;

}
a {
	color: #03B5AA;
	cursor: pointer;
}
.banner {
	position: relative;
	text-align: center;
}
.txt {
	background-color: #232C31E6;
	color: white;
	font-weight: bold;
	width: 100%;
	position: absolute;
	padding: 2em s;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.txt small {
	color: white;
	font-weight: 400;
}
/*navigation*/

nav{
	background: #232C31 ;
	height:auto;
}

nav ul {
	padding-top: 23px;
}

nav li {
	display: inline-flex;
}

nav li a {
	color: white;
	font-size: 1.5em;
	padding-left: 30px;
}

form {
	margin: 5px;
}

.menu {
	text-align: left;
	padding-left : 15px;
}

.icon {
	float : right;
	padding-right : 15px;
}

.links{
	width:100px;
	padding-right: 20px;
}

/*body*/
/*searchbar */

.search-bar {
	margin : 0 auto;
	width : 90%;
}

.search-button{
	margin-top: 10px;
	background: #03B5AA;
	border: none;
	width: 100px;
}

.input{
	margin : 0 auto;
	margin-top: 10px;
	padding-left: 5px;
}

/*profile side */

.apiandprofile{
	display : flex;
	flex-direction: row;
}

.api{
	width: 35%;
	height: 450px;
	margin-top : 15px;
}
.profile-side{
	width: 60%;
	margin : 0 auto;
	display: flex;
	margin : 15px;
	flex-wrap: wrap;
	justify-content: space-around;
}

.profile-pic{
	border-radius: 100%;
	padding : 5px;
}

.profile{
	text-align : center;
	line-height: 3px;
	margin: 5px;
	margin-top: 15px;
	background: white;
	display: flex;
	flex-direction: row;
	width : 250px;
}

.round{
	max-width : 120px;
	max-height: 120px;
}

.name { 
	margin : 0 auto;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

/*footer*/
footer {
	background-color: rgb(35, 44, 49);
	width: calc(100% + 2.0rem);
	height: 80px;
    display: flex;
    justify-content: center;
	align-items: center;
	flex-shrink: 0;
	
}

footer p {
	color: white;
	text-align: center;
	
}
@media screen and (max-width: 900px) {
}

/*Vignettes post*/ 

.row {
	margin: auto;
	width: 90%;
}

/*button {
	margin-left: 10px;
}*/

.job {
	padding: 2%;
	margin: auto;
	margin-bottom: 2%;
	background: white;
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap;
	width: 80%;
	box-shadow: 6px 6px 6px #DCDCDC	;
	border-radius: 1px;

}

p {
	word-wrap: break-word; 
	letter-spacing: 1px;
}

body {
	background-color: #F8FAFF;
	font-family: Arial, Helvetica, sans-serif;
}

.fas fa-handshake {
	background-color: blue;
}

/*MODAL*/

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}

.modal-content{
	background-color: white;
	margin: 15% auto;
	padding:20px;
	width: 70%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
	animation-name: modalopen;
	animation-duration: 0.4s;
}

.close-btn{
	color:black;
	float:right;
	font-size: 30px;
}

.close-btn:hover,.close-btn:focus{
	color: black;
	text-decoration: none;
	cursor: pointer;
}

.yolo{
	color:black;
	float:right;
	font-size: 30px;
}

.yolo:hover,.yolo:focus{
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/*DEBUT CODE */

button {
  overflow: visible;
  border: 0;
  padding: 0;
  margin: 1.8rem;
  /*float: right;*/
}
.btn.striped-shadow span {
  display: block;
  position: relative;
  z-index: 2;
  border: 5px solid;
}
.btn.striped-shadow.white span {
  border-color: #fff;
  color: #fff;
  background: #77bfa1;
}

.btn {
  font-family: 'Bungee Shade', sans-serif;
  height: 80px;
  line-height: 65px;
  display: inline-block;
  letter-spacing: 1px;
  position: relative;
  font-size: 1.35rem;
  transition: opacity .3s, z-index .3s step-end, -webkit-transform .3s;
  transition: opacity .3s, z-index .3s step-end, transform .3s;
  transition: opacity .3s,
    z-index .3s step-end,
    transform .3s,
    -webkit-transform .3s;
  z-index: 1;
  background-color: transparent;
  cursor: pointer;
}

.btn {
  width: 155px;
  height: 48px;
  line-height: 38px;
}

button.btn.striped-shadow.white:after, button.btn.striped-shadow.white:before {
  background-image: linear-gradient(
    135deg,
    transparent 0,
    transparent 5px,
    #fff 5px,
    #fff 10px,
    transparent 10px
  );
}

button.btn.striped-shadow:hover:before {
  max-height: calc(100% - 10px);
}

button.btn.striped-shadow:after {
  width: calc(100% - 4px);
  height: 8px;
  left: -10px;
  bottom: -9px;
  background-size: 15px 8px;
  background-repeat: repeat-x;
}
button.btn.striped-shadow:after, button.btn.striped-shadow:before {
  content: '';
  display: block;
  position: absolute;
  z-index: 1;
  transition: max-height .3s, width .3s, -webkit-transform .3s;
  transition: transform .3s, max-height .3s, width .3s;
  transition: transform .3s, max-height .3s, width .3s, -webkit-transform .3s;
}

.btn.striped-shadow:hover {
  -webkit-transform: translate(-12px, 12px);
  -ms-transform: translate(-12px, 12px);
  transform: translate(-12px, 12px);
  z-index: 3;
}

button.btn.striped-shadow:hover:after, button.btn.striped-shadow:hover:before {
  -webkit-transform: translate(12px, -12px);
  -ms-transform: translate(12px, -12px);
  transform: translate(12px, -12px);
}
button.btn.striped-shadow:before {
  width: 8px;
  max-height: calc(100% - 5px);
  height: 100%;
  left: -12px;
  bottom: -5px;
  background-size: 8px 15px;
  background-repeat: repeat-y;
  background-position: 0 100%;
}

/*FIN CODE BTN JOB OFFER*/

/*HOVER VIGNETTES*/

.box {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2.5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.01., 1.01);
  transform: scale(1.01, 1.01);
}

.box:hover::after {
    opacity: 1;
}

/*HOVER VIGNETTES*/
