/*reset*/

/*ATTENTION : tous les spans n'ont pas pour défaut la couleur black, cg button modal job - début */


/*ATTENTION : tous les spans n'ont pas pour défaut la couleur black, cg button modal job - fin */


/*searchbar */

.search-bar {
	margin : 0 auto;
	width : 90%;
}

@media screen and (max-width: 550px) {
	.api{
		display: none;
	}
	.profile-side{
		margin: auto;
		width: 100%;
	}
	.profile{
		width: 100%;
	}
	.profile-pic{
		border-radius: 100%;
		
	}

}

.job {
	padding: 15px 45px;
	margin: auto;
	margin-bottom: 2%;
	background: white;
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap;
	width: 80%;
	box-shadow: 6px 6px 6px #DCDCDC	;
	border-radius: 1px;
}

p {
	word-wrap: break-word; 
	letter-spacing: 1px;
}

body {
	background-color: #F8FAFF;
}

.img-vign{
  width: 35px;
  margin-right: 30px;
}

blockquote, dl, figure, form, ol, p, pre, table, ul {
    margin-bottom: 1rem;
}

.offer-width{
  width: 100%;
}


section {
  margin-left: 6%;
  margin-bottom: 5%;
}

.fas fa-handshake {
  background-color: blue;
}


.close-btn{
	color:black;
	float:right;
	font-size: 30px;
}

.close-btn:hover,.close-btn:focus{
	color: black;
	text-decoration: none;
	cursor: pointer;
}

@keyframes modalopen{
  from{ opacity: 0}
  to {opacity: 1}
}


.box {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2.5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.01., 1.01);
  transform: scale(1.01, 1.01);
}

.box:hover::after {
    opacity: 1;
}

/*/* HOVER VIGNETTES ZOOM OMBRES -- FIN */


/*** Skewed Switch Style ***/


.container-yolo {
  max-width: 960px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yolo {
  background: transparent;
  border: 0;
  transition: all 200ms ease-in;
  display: inline-block;
}

.yolo-default {
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    border: 4px solid black;
    padding: 12px 28px;
}
    
.yolo-default:hover {
      background: white;
      color: black;
      border: 4px solid #FDD417;
}
  
.yolo--skew {
    transform: skew(-10deg);
}

.vignette-title{
  text-align: center;
}

/*.vignette-description{
  width: 70px;
  height: 15px;
}*/

h3 {
    font-size: 2.8rem;
    line-height: 1.3;
}

/*https://codepen.io/visualcookie/pen/JeoFt*/

/*** Skewed Switch Style ***/

