/*reset*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	color: black; 
}

/*header*/

header {
	background: #f0b958;
	text-align: center;
	padding-top: 50px;
}

h2 {
	color: white;
	padding-top: 30px;
	padding-bottom: 60px;
}

/*navigation*/

nav{
	background: #FAEC8B;
	height:80px;
	border-top: solid 1px orange;
	border-bottom: solid 1px orange;
}

nav ul {
	padding-top: 23px;
}

nav li {
	display: inline;
}

nav li a {
	color: #878485;
	font-size: 20px;
	padding-left: 30px;
}

.menu {
	text-align: left;
	padding-left : 15px;
}

.icon {
	float : right;
	padding-right : 15px;
}

.active{
	color: white;
}

.links{
	width:100px;
	padding-right: 20px;
}

/*body*/
/*searchbar */

.searchbar {
	margin : 0 auto;
	width : 90%;
}

.searchButton{
	margin-top: 10px;
	background: #f0b958;
	border : orange;
}

.input{
	margin : 0 auto;
	margin-top: 10px;
	padding-left: 5px;
}

/*profile side */

.api{
	width: 35%;
	margin-top : 15px;
	float: right;
}
.profileSide{
	width: 60%;
	background: #ffe095;
	margin : 0 auto;
	display: flex;
	margin : 15px;
	flex-wrap: wrap;
	justify-content: space-around;
	float: left;
}

.profile{

	border : 1px solid black;
	text-align : center;
	line-height: 3px;
	margin: 5px;
	margin-top: 15px;
	background: white;
	display: flex;
	flex-direction: row;
	width : 250px;

}

.name { 
	margin : 0 auto;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}
