* {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;

	color: black; 
}

/*header*/

a {
	color: #44B4FF;
	cursor: pointer;
}
/* global */

/*Buttons and inputs*/
button {

}

/*navigation*/

nav
{
	height: auto;
}

nav li a:hover {
	color:#44B4FF;
}

.menu {
	display: flex;
    justify-content: space-around;
	align-items: center;
	text-align: left;
	padding-left : 15px;

}

.menu li {
	display: inline-flex;

}

.menu a {
	color: black;
	font-size: 1.2em;
}

.fa-user-circle {
	font-size: 2em;
}

/*Profile*/
#fieldset_container {
    width: 80%;
    margin: auto;
}

.title {
    display: flex;
    justify-content: center;
    margin: auto;
}

.display_avatar {
    display: flex;
    justify-content: center;
    margin: auto;
    border: 1px solid black;
    width: 200px;
    height: 200px;
}
.form_btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    width: 200px;
}


/*footer*/
footer {
	background-color: #232C31;
	width: 100%;
	height: 80px;
    display: flex;
    justify-content: center;
	align-items: center;
	flex-shrink: 0;
}

footer p {
	color: white;
	text-align: center;
	
}
