/*reset*/

* {
	margin: 0;
	padding: 0;
	border: 0;
	text-decoration: none;
	color: black; 
}

/*header*/

header {
	background: #75D1C6;
	text-align: center;
	padding-top: 50px;
}

h2 {
	color: white;
	padding-top: 30px;
	padding-bottom: 60px;
}

/*navigation*/

nav{
	background: #FFE5B5;
	opacity: 0.9;
	height:80px;
	border-top: solid 1px orange;
	border-bottom: solid 1px orange;
}

nav ul {
	padding-top: 23px;
}

nav li {
	display: inline;
}

nav li a {
	color: #878485;
	font-size: 20px;
	padding-left: 30px;
}

.menu {
	text-align: left;
	padding-left : 15px;
}

.icon {
	float : right;
	padding-right : 15px;
}

.active{
	color: #CBCBCB;
}

.links{
	width:100px;
	padding-right: 20px;
}

/*body*/
/*searchbar */

.searchbar {
	margin : 0 auto;
	width : 90%;
}

.searchButton{
	margin-top: 10px;
	background: #75D1C6;
	border : orange;
}

.input{
	margin : 0 auto;
	margin-top: 10px;
	padding-left: 5px;
}

/*profile side */

/*API*/ 

/*.api{
	width: 35%;
	margin-top : 15px;
	float: right;
}
.profileSide{
	width: 60%;
	background: #d0fff9;
	margin : 0 auto;
	display: flex;
	margin : 15px;
	flex-wrap: wrap;
	float : left;
	justify-content: space-around;
	border-radius : 100px: 
}*/

/*API*/ 

.profilePic{
	border-radius: 100%;
	padding : 5px;
}

.profile{
	text-align : center;
	line-height: 3px;
	margin: 5px;
	margin-top: 15px;
	background: white;
	display: flex;
	flex-direction: row;
	width : 250px;
	border-radius : 100px: 
}

.round{
	max-width : 120px;
	max-height: 120px;
}

.name { 
	margin : 0 auto;
	margin-top: 10px;
	display: flex;
	flex-direction: column;
	justify-content: center;

}

/*Vignettes post*/ 

.row {
	margin: auto;
	width: 90%;
}

button {
	margin-left: 10px;
}

.job {
	padding: 2%;
	margin: auto;
	margin-bottom: 2%;
	background: white;
	display: flex;
	flex-direction: row; 
	flex-wrap: wrap;
	width: 80%;
	box-shadow: 6px 6px 6px #DCDCDC	;
	border-radius: 1px;

}

p {
	word-wrap: break-word; 
	letter-spacing: 1px;
}

body {
	background-color: #F8FAFF;
	font-family: Arial, Helvetica, sans-serif;
}

.fas fa-handshake {
	background-color: blue;
}

/*MODAL*/

.button{
	background: coral;
	padding: 1em 2em;
	color: white;
	border: 0;
}

.button:hover{
	background-color: black;
}

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.5);
}

.modal_content{
	background-color: white;
	margin: 30% auto;
	padding:20px;
	width: 70%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
	animation-name: modalopen;
	animation-duration: 0.4s;
}

.close_btn{
	color:black;
	float:right;
	font-size: 30px;
}

.close_btn:hover,.close_btn:focus{
	color:#black;
	text-decoration: none;
	cursor: pointer;
}

@keyframes modalopen{
	from{opacity : 0}
	to {opacity : 1}
}

label{
	float: left;
}

