/*MILLIGRAM MILLIGRAM MILLIGRAM MILLIGRAM MILLIGRAM*/

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  border-radius: 0px;
}

.button:focus, .button:hover,
button:focus,
button:hover,
input[type='button']:focus,
input[type='button']:hover,
input[type='reset']:focus,
input[type='reset']:hover,
input[type='submit']:focus,
input[type='submit']:hover {
  background-color: black;
  border-color: black;
  color: #fff;
  outline: 0;
}

input[type='email'],
input[type='number'],
input[type='password'],
input[type='search'],
input[type='tel'],
input[type='text'],
input[type='url'],
textarea,
select {

}

input[type='email'], input[type='number'], input[type='password'], input[type='search'], input[type='tel'], input[type='text'], input[type='url'], textarea, select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #9e9e9e;
    border-radius: 0;
    box-shadow: none;
    box-sizing: inherit;
    height: 3.8rem;
    padding: .6rem 1.0rem;
    width: 100%;
}

input[type='email']:focus,
input[type='number']:focus,
input[type='password']:focus,
input[type='search']:focus,
input[type='tel']:focus,
input[type='text']:focus,
input[type='url']:focus,
textarea:focus,
select:focus {
  border-bottom: 1.5px solid black;
  border-color: black; /*couleur pour la bordure du formulaire*/
  outline: 0;
}

.button, button, input[type='button'], input[type='reset'], input[type='submit'] {
  line-height: 0;
}

/*MILLIGRAM MILLIGRAM MILLIGRAM MILLIGRAM MILLIGRAM*/

body {
  background-color: #F8FAFF;
  font-family: Arial, Helvetica, sans-serif;
}

section {
  margin-left: 6%;
  margin-bottom: 5%;
}

.fas fa-handshake {
  background-color: blue;
}

/* AFFICHAGE MODAL -- DEBUT */

.modal-header{  /*modal pour poster une offre*/
	background: #FAEBD7;
	padding: 18px;
}

.modal-footer{
  background: #141414;
  padding: 18px;
}

h1{
  text-align: center;
}

form {
  margin: 0; /*pour que le background du header et footer de la modal prenne toute la largeur*/
}

.form-content{
	padding: 30px 90px;
}

.modal{
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	overflow: auto;
	background-color: rgba(0,0,0,0.6);
}

.modal-content{
	background-color: white;
  margin: 10% auto;
  width: 70%;
	box-shadow: 0 5px 8px 0 rgba(0,0,0,0.2), 0 7px 20px 0 rgba(0,0,0,0.2);
	animation-name: modalopen;
	animation-duration: 0.8s;
  padding: 0;
}

.close-btn{
	color:black;
	float:right;
	font-size: 30px;
}

.close-btn:hover,.close-btn:focus{
	color: black;
	text-decoration: none;
	cursor: pointer;
}

@keyframes modalopen{
  from{ opacity: 0}
  to {opacity: 1}
}

/* AFFICHAGE MODAL -- FIN */

/*CODE BOUTON RIGOLO STRIPES NAV -- DEBUT */


/* CODE BOUTON RIGOLO STRIPES NAV -- DEBUT */

/* HOVER VIGNETTES ZOOM OMBRE -- DEBUT */

.box {
  position: relative;
  background-color: #fff;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  border-radius: 2.5px;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box::after {
  content: "";
  border-radius: 5px;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  opacity: 0;
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.01., 1.01);
  transform: scale(1.01, 1.01);
}

.box:hover::after {
    opacity: 1;
}

/*/* HOVER VIGNETTES ZOOM OMBRES -- FIN */


/*** Skewed Switch Style ***/


.container-yolo {
  max-width: 960px;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.yolo {
  background: transparent;
  border: 0;
  transition: all 200ms ease-in;
  display: inline-block;
}

.yolo-default {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    border: 4px solid white;
    padding: 12px 28px;
}
    
.yolo-default:hover {
      background: white;
      color: black;
      border: 4px solid #FAEBD7;
}
  
.yolo--skew {
    transform: skew(-10deg);
}

/*https://codepen.io/visualcookie/pen/JeoFt*/

/*** Skewed Switch Style ***/

